.contactus-form {
    background-color: white;
    padding: 50px 0;
}

/* Form styles */
.contactus-form form {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contactus-form form label {
    font-weight: bold;
}

.contactus-form form input[type="text"],
.contactus-form form input[type="email"],
.contactus-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contactus-form form textarea {
    resize: vertical;
    min-height: 100px;
}

.contactus-form form button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.contactus-form form button[type="submit"]:hover {
    background-color: #0056b3;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 35%;
    /* 16:9 aspect ratio */
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
   
    .map-container{
        padding-bottom: 75%;
    }
}